form#form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    padding-top: 70px;
}
.input-tag {
    margin: 10px;
    padding: 10px;
    background-color: darkgray;
    border: 2px solid darkgray;
    border-radius: 10px;
}
input.input-submite {
    padding: 15px 0;
    margin: 30px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    border: none;
}   
